AddDescription "On creating EAD files using OOo" 	eadoo
AddDescription "Ediffahprojektets OAI-server"		ead-oai
AddDescription "Ediffahprojektets s&ouml;kmaskin" 	ediffah-search
AddDescription "The Jarring collection (prototype)" 	jarring
AddDescription "Digitala Biblioteket (en f&ouml;rel&auml;sning)"	bivil-digitala-bibliotek
