AddDescription "Codex Bergmannia" 				Mh_20
AddDescription "Mjukstart i XML" 				XMLforLibrarians
AddDescription "OAI harvesting and search engines" 		arkiv-ex
AddDescription "OAI &amp; OPAC, går det ihop?" 			axiell-oai
AddDescription "Samverkan mellan svenska ämnesportaler" 	def-test
AddDescription "Varför jag inte tycker om URN" 			urnar_och_digitala_bibliotek
AddDescription "Vad är ett pek" 				pek
